body {
    background-color:  white; 
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:#003366;
    float: center;
    align-items: center;
   justify-content: center;
   margin: 0 auto;
}


.up {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;




  }
.basketimg{
   width: 250px;
   height: 200px;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
}
.footimg{
    width: 250px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
 }
 .rugbyimg{
    width: 250px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
 }


.rightup {

   float: right;
   margin: 0 auto;
 
  }
.middleup {

   float: middle;
   margin: 0 auto;
 
  }

.leftup {
   
   float: left;
   margin: 0 auto;

}

.hautPage {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;

}

.down {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
}
.rightdown {

   float: right;
   margin: 0 auto;
 
  }
.leftdown {

   float: left;
   margin: 0 auto;
 
  }
.middledown {

    float: middle;
    margin: 0 auto;
  
   }

.tennisimg{
   width: 250px;
   height: 200px;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   
}
.nataimg{
    width: 250px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
 }
 .plongeonimg{
    width: 250px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
 }
.hautPage{ 
   margin: 10px; 
   padding-left: 10px;
}