
*{
    margin: 0;
    padding: 0;
}

/* Image de fon = main */
.main{
    width: 100%;
    /*background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);*/
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    background-color: rgb(223, 231, 209);
    /*background-color: rgb(244, 244, 244);*/
    border-radius: 30px;
    width: 1200px;
    height: 150px;
    margin: auto;
}

/* Contient le logo */
.icon{
    width: 200px;
    float: left;
    height: 70px;
}

/* TITRE OMNES EN HAUT A GAUCHE*/
.logo{
   
    color: #033b22;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 40px
}

/*barre de navigation, accéder aux autres pages*/
.menu{
    width: 400px;
    float: left;
    height: 70px;
}


/* "ul" = liste*/
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 50px;
    font-size: 16px;
}

ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    /* temps animation changement de couleur ->hover */
}


/* quand on passe la souris dessus changement de couleur*/
ul li a:hover{
    color: #00ff8c;
}

/* barre de recherche du menu */
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
    margin-top: 35px;
}

/*partie "barre de recherche" */
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #002816;
    margin-top: 13px;
    color: rgb(0, 0, 0);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

/* partie bouton de la barre de recherche"*/
.btn{
    width: 100px;
    height: 40px;
    background: #047562;
    border: 2px solid #030100;
    margin-top: 13px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

/* quand on passe la souris dessus changement de couleur*/
.btn:hover{
    color: #000;
}

::placeholder{
    color: rgb(0, 0, 0);
    font-family: Arial;
}


/****** BOUTONS MENU SERVICE *******/


.content h1{
    font-family: 'Times New Roman';
    color: #3c4442;
    font-size: 50px;
    padding-left:  20px;
    margin-top: 100px;
    letter-spacing: 2px;


}
.services{

    float:left;
    width: 400px;
    height: 900px;
    /*background: linear-gradient(to top, rgba(80, 80, 80, 0.8)50%,rgba(80, 80, 80, 0.8)50%);*/
    background-color: rgb(244, 244, 244);
    margin-left: 8px;
    margin-top: 100px;
    margin-bottom: 0px;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 90px;
    padding: 25px;
}



/* BOUTONS DES DIFF SERVICES */

.btnn{
    width: 300px;
    height: 70px;
    background: #3c4442;
    border: none;
    margin-top: 75px;
    margin-left: 50px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn :hover{
    background: rgb(67, 249, 197);
}

.btnn a{
    text-decoration: none;
    color: rgb(185, 185, 185);
    font-weight: bold;
}





/*********************** CONTENU ************************/


.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(0, 0, 0);
    position: relative;
}

.aff{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}


/* Partie en vert dans la descr*/
.content span{
    color: #1ad39f;
    font-size: 25px
}

/* AFFICHAGE DES HORAIRES */

.Boxhoraire{

    width: 600px;
    height: 520px;
    background-color: rgb(244, 244, 244);
    color: #000000;
    font-family: 'Arial';
    text-align: center;
    margin-left: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 90px;
    padding: 25px;
}

.content h2{
    font-family: 'Arial';
    color: #000000;
    font-size: 50px;
    padding-left:  20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    letter-spacing: 2px;
}
/*Affichage box dispo*/

.Boxdispo{

    width: 600px;
    height: 520px;
    background-color: rgb(244, 244, 244);
    color: #000000;
    font-family: 'Arial';
    text-align: center;
    margin-left: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 90px;
    padding: 25px;
}

.content h2{
    font-family: 'Arial';
    color: #000000;
    font-size: 30px;
    padding-left:  20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    letter-spacing: 2px;
}



/* AFFICHAGE DU REGLEMENT */

.Boxreglement{
    width: 600px;
    height: 800px;
    background-color: rgb(244, 244, 244);
    color: #000000;
    font-family: 'Arial';
    margin-left: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 90px;
    padding: 25px;
}

.content h3{
    font-family: 'Arial';
    color: #000000;
    text-align: center;
    font-size: 30px;
    padding-left:  20px;
    padding-bottom: 15px;
    margin-top: 20px;
    letter-spacing: 2px;
}


/* AFFICHAGE CREA ID */

.form h3{
    font-family: 'Arial';
    color: #000000;
    font-size: 40px;
    text-align: center;
   position: relative;
   left: 100px;
    padding-left:  20px;
    padding-bottom: 15px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.form{
    width: 600px;
    height: 900px;
    background: rgb(244, 244, 244);
    margin-left: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 90px;
    padding: 25px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border: 1px solid #24f00d;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-left: 20px;
    font-family: sans-serif;
}


/* AFFICHAGE ALIMENTATION */



/* AFFICHAGE DU REGLEMENT */

.BoxAlimentation{
    width: 600px;
    height: 800px;
    background-color: rgb(244, 244, 244);
    color: #000000;
    font-family: 'Arial';
    margin-left: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 90px;
    padding: 25px;
}

.content h5{
    font-family: 'Arial';
    color: #000000;
    text-align: center;
    font-size: 30px;
    padding-left:  20px;
    padding-bottom: 15px;
    margin-top: 20px;
    letter-spacing: 2px;
}





/************* FOOTER *************/


/* FOOTER */
.footer{
    background-color: rgb(223, 231, 209);
    clear: both;
    padding: 70px;
    border-radius: 30px;
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(0, 87, 61);
    position: relative;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: center;

}

.footer h1{
    font-family: 'Times New Roman';
    font-size: 30px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    color: #1ad39f;
}