*{
    margin: 0;
    padding: 0;
}

/* Image de fon = main */
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

/* Contient le logo */
.icon{
    width: 200px;
    float: left;
    height: 70px;
}

/* TITRE OMNES EN HAUT A GAUCHE*/
.logo{
    color: #00ff8c;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

/*barre de navigation, accéder aux autres pages*/
.menu{
    width: 400px;
    float: left;
    height: 100px;
    text-align: center;
    
}

/* "ul" = liste*/
 
.menu ul{
    position: relative;
    right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    /* temps animation changement de couleur ->hover */
}


/* quand on passe la souris dessus changement de couleur*/
.menu ul li a:hover{
    color: #00ff8c;
}



/* quand on passe la souris dessus changement de couleur*/
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}



.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
 
 text-align: center;
 position: relative;
 right:35px;
 top:50px;

}



.content ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
}

.content ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
.content ul li a:hover{
    color: #1100ff;


}

p{
    font-family: Arial;  
    font-weight: italic;
}
#footer{
    
   
    color: black;
    clear:both;
    text-align: center;
    float: center;
    padding : 10px;


}
.maps{
    float: center;
}








